*{
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
:root{
  --tp-fogo: #e70000;
  --bg-fogo: #e21515;
  --tp-agua: #0044ff;
  --bg-agua: #1a51e7;
  --tp-planta: #24d314;
  --bg-planta: #33b127;
  --tp-eletrico: yellow;
  --bg-eletrico: #ffff64;
  --tp-voador: #00b7ff;
  --bg-voador: #1ba6dd;
  --tp-normal: #c9c9c9;
  --bg-normal: #eeeeee;
  --tp-veneno: #a513df;
  --bg-veneno: #8e2fb4;
  --tp-dark: #141414;
  --bg-dark: #333333;
  --tp-pisiquico: #7936f7;
  --bg-pisiquico: #9058f8;
  --tp-fada: #d11fe9;
  --bg-fada: #f858f0;
  --tp-pedra: #312e44;
  --bg-pedra: #464357;
  --tp-terra: #9c5f0f;
  --bg-terra: #bb7f31;
  --tp-lutador: #3d1c00;
  --bg-lutador: #3b2b1c;
  --tp-metal: #b1b1b1;
  --bg-metal: #919191;
  --tp-fantasma: #31008d;
  --bg-fantasma: #341077;
}
:root{
  --cor-estilo: var(--tp-planta);
  --bg-tipoPrimario: var(--tp-planta);
  --bg-tipoSecundario: var(--bg-veneno);
}

body{
  background-color: white;
}
hr{
  display: none;
}
.principal header h1{
  font-weight: normal;
  font-size: 3vmin;
}
.principal header{
  display: flex;
  align-items: center;
  padding: 1vmin;

}
.principal header img{
  width: 8vmin;
}

hr{
  margin: 1%;
}
/* Estilo da pagina */
#mainContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}


/* Estilo do card */
.flip-container {
    display: flex;
    margin-left: 39%;
    perspective: 1000px;

  }
  
  .flipper {
    position: relative;
    width: 20vmax;
    min-height: 33vmax;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: solid 0.5vmax var(--cor-estilo);
    border-radius: 2vmin;
    background-image: linear-gradient(var(--bg-tipoPrimario), white, var(--bg-tipoSecundario));
  }
  
  
  .cardFront img{
    width: 100%;
  }
  .cardFront header img{
    width: 100%;
  }
  .cardFront footer{
    position: relative;
    height: 4vh;
    padding: 1vmin 1vmin 1vmin 1vmin;
    align-items: center;
    display: flex;
  }
  .cardFront h1{
    font-size: 3vmin;
    font-weight: lighter;
    margin-right: 2vw;
  }
  .cardFront p{
    font-weight: normal;
    font-size: 4vmin;
  }
  .cardBack h1{
    font-weight: normal;
    font-size: 3vw;
    text-align: center;
  }
  
  .cardBack h2{
    font-weight: normal;
    font-size: 2.1vmin;
  }
  .cardBack .statusBase p{
    font-weight: bolder;
    font-size: 3vmin;
    text-align: right;
    background-image: linear-gradient(to right, #00000017 30%, #ffffffd7);
  }

  .cardBack {
    transform: rotateY(180deg);
  }
  
  .cardBack header{
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin: 0.5vw;
    
  }
  .cardBack header p{
    font-size: 2.5vmin;
    font-weight: bolder;
    margin: 0% 0% 0% 5%;
    padding: 1vmin;
    border-radius: 5px;
    color: #222222;
    
  }
  .cardBack header .tipoPrimario{
    border: solid 2px var(--cor-estilo);
    background-color: var(--bg-tipoPrimario);
  }
  .cardBack header .tipoSecundario{
    border: solid 2px var(--cor-estilo);
    background-color: var(--bg-tipoSecundario);
  }
  .cardBack img{
    width: 10vmin;
    background-image: linear-gradient(var(--bg-tipoPrimario), white, var(--bg-tipoSecundario));
    border-radius: 50%;
  }  
  #switch{
    display: none;
  }
  
  #switch:checked ~ .flip-container .flipper {
    transform: rotateY(180deg);
  }
  .cardFront, .cardBack, .statusBase {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;

  }
