*{
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
:root{
  --tp-fogo: #e70000;
  --bg-fogo: #e21515;
  --tp-agua: #0044ff;
  --bg-agua: #1a51e7;
  --tp-planta: #24d314;
  --bg-planta: #33b127;
  --tp-eletrico: yellow;
  --bg-eletrico: #ffff64;
  --tp-voador: #00b7ff;
  --bg-voador: #1ba6dd;
  --tp-normal: #c9c9c9;
  --bg-normal: #eeeeee;
  --tp-veneno: #a513df;
  --bg-veneno: #8e2fb4;
  --tp-dark: #141414;
  --bg-dark: #333333;
  --tp-pisiquico: #7936f7;
  --bg-pisiquico: #9058f8;
  --tp-fada: #d11fe9;
  --bg-fada: #f858f0;
  --tp-pedra: #312e44;
  --bg-pedra: #464357;
  --tp-terra: #9c5f0f;
  --bg-terra: #bb7f31;
  --tp-lutador: #3d1c00;
  --bg-lutador: #3b2b1c;
  --tp-metal: #b1b1b1;
  --bg-metal: #919191;
  --tp-fantasma: #31008d;
  --bg-fantasma: #341077;
}
:root{
  --cor-estilo: var(--tp-planta);
  --bg-tipoPrimario: var(--tp-planta);
  --bg-tipoSecundario: var(--bg-veneno);
}

body{
  background-color: white;
}

.principal header h1{
  font-weight: normal;
  font-size: 3vh;
}
.principal header{
  display: flex;
  align-items: center;
  padding: 1vh;

}
.principal header img{
  width: 8vh;
}

/* Estilo da pagina */
#Card{
  flex-wrap: wrap;
  width: 100%;
}

  #Card, .Card_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Estilo do card */
  .Card_container {
    /* position: relative; */
    width: 20vw;
    min-height: 33vw;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /* border: solid 0.5vw var(--cor-estilo);
    border-radius: 2vw;
    background-image: linear-gradient(var(--bg-tipoPrimario), white, var(--bg-tipoSecundario)); */
  }
  
  .cardBack{
    margin-left: 50px;
  }

  .cardBack, .cardFront{
    border: solid 0.5vw var(--cor-estilo);
    border-radius: 2vw;
    background-image: linear-gradient(var(--bg-tipoPrimario), white, var(--bg-tipoSecundario));
  }

  .cardBack, .cardFront, .Card_container{
    min-width: 20vw;
    min-height: 33vw;
  }

  .cardFront img{
    width: 100%;
  }
  .cardFront header img{
    width: 100%;
  }
  .cardFront footer{
    /* position: relative; */
    height: 3vh;
    padding: 1vh 1vh 1vh 1vh;
    align-items: center;
    display: flex;
  }
  .cardFront h1{
    font-size: 2vh;
    font-weight: lighter;
    margin-right: 2vw;
  }
  .cardFront p{
    font-weight: normal;
    font-size: 3.3vw;
  }
  .cardBack h1{
    font-weight: normal;
    font-size: 3vw;
    text-align: center;
  }
  
  .cardBack h2{
    font-weight: normal;
    font-size: 2.1vh;
  }
  .cardBack .statusBase, .cardBack .statusBase h2, .cardBack .statusBase table{
    font-weight: bolder;
    font-size: 3vh;
    text-align: left;
    padding-left: 15px;
    /* background-image: linear-gradient(to right, #00000017 30%, #ffffffd7); */
  }

  .cardBack .statusBase{
    height: auto;
    width: auto;
  }

  .cardBack .statusBase table tr{
    padding-bottom: 500px;
  }

  .cardBack .statusBase table tr:hover{
    transform: scale(1.3);
    cursor: none;
  }

  /* .cardBack {
    transform: rotateY(180deg);
  } */
  
  .cardBack header{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0.5vw;
    
  }
  .cardBack header p{
    font-size: 2.5vh;
    font-weight: bolder;
    margin: 0% 0% 0% 5%;
    padding: 1vh;
    border-radius: 5px;
    color: #222222;
    
  }
  .cardBack header .tipoPrimario{
    border: solid 2px var(--cor-estilo);
    background-color: var(--bg-tipoPrimario);
  }
  .cardBack header .tipoSecundario{
    border: solid 2px var(--cor-estilo);
    background-color: var(--bg-tipoSecundario);
  }
  .cardBack img{
    width: 10vh;
    background-image: linear-gradient(var(--bg-tipoPrimario), white, var(--bg-tipoSecundario));
    border-radius: 50%;
  }  
  #switch{
    display: none;
  }
  
  #switch:checked ~ .Card_container {
    transform: rotateY(180deg);
  }
  .cardFront, .cardBack {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* backface-visibility: hidden; */
  }
